.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
app/etc/config.xml
app/Mage.php
cron.php
cron.sh
downloader/
errors/

/errors/
/install.php
/lib/Zend/
/lib/Varien/
/LICENSE*

/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/var/
/app/etc/config.php
/app/etc/
/index.php
/media/catalog/product/cache
/var/

